.container {
    display: flex;
    justify-self: left;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.counter {
    display: flex;
    padding: var(--responsive-size);
    padding-left: 0;
    font-size: calc(var(--responsive-size)*3);
    
}