.input {
    padding: inherit;
    outline: inherit;
    font-size: inherit;
}

.input:disabled {
    background-color: rgba(0, 0, 0, 0);
}

@media (prefers-color-scheme: dark) {
    .input {
        color: var(--color__dark-text_color);
        background-color: var(--color__dark-theme_accent);
    }
}