.container {
    display: grid;
}

.span {
    font-size: calc(var(--responsive-size)*2);
}

.block {
    display: none;
}

.password_section {
    display: grid;
    height: min-content;
    align-items: center;
    grid-template-areas: 'only';
}

.password {
    grid-area: only;
    height: min-content;
}

.password_copy {
    height: min-content;
    display: grid;
    width: min-content;
    grid-area: only;
    margin-left: auto;
    padding: var(--responsive-size);
}