.panel {
    display: grid;
    border: 1px var(--color__grey-theme_accent) solid;
    border-radius: var(--responsive-size);
    padding: var(--responsive-size);
    padding-top: 0;
    justify-self: center;
    justify-content: center;
    justify-items: center;
}