.modal {
    display: grid;
    background-color: white;
    border: 1px var(--color__grey-theme_accent) solid;
    border-radius: var(--responsive-size);
    padding: var(--responsive-size);
}

.modal>label {
    font-size: calc(var(--responsive-size)*2);
}

.input {
    display: flex;
    width: 80%;
    padding: var(--responsive-size);
    outline: none;
    font-size: calc(var(--responsive-size)*1.5);
    margin-left: 0;
    font-size: calc(var(--responsive-size)*2);
}

.checkbox {
    display: flex;
    width: calc(var(--responsive-size)*3);
}

@media (prefers-color-scheme: dark) {

    .modal,
    .input {
        background-color: var(--color__dark-theme);
    }
}