.card {
    display: grid;
    gap: 1vw;
}

.form_group {
    display: grid;
    gap: var(--responsive-size);
    
}

.buttons {
    display: flex;
    gap: var(--responsive-size);
    justify-content: right;
}

.hidden_button {
    display: none;
}

.service_section,
.password_section {
    display: grid;
    height: min-content;
    align-items: end;
    grid-template-areas: 'only';
}

.service_input,
.password_input {
    grid-area: only;
    height: min-content;
}

.service_copy,
.password_copy {
    height: min-content;
    display: grid;
    width: min-content;
    grid-area: only;
    margin-left: auto;
    align-items: center;
    padding: var(--responsive-size);
    padding-top: calc(var(--responsive-size)*0.2);
}