.panel {
    display: grid;
    border: 1px var(--color__grey-theme_accent) solid;
    border-radius: var(--responsive-size);
    padding: var(--responsive-size);
    max-width: 1000px;
    width: 65vw;
    justify-self: center;
}

@media (prefers-color-scheme: dark) {
    .panel {
        color: var(--color__dark-text_color);
        border: 1px var(--color__dark-theme_accent) solid;
    }
}