.password_form {
    display: flex;
    justify-content: space-between;
    justify-self: center;
    align-items: center;
    padding: var(--responsive-size);
}

.form_group {
    display: flex;
}

.button {
    margin-left: auto;
}