.password_form {
    display: flex;
    justify-content: space-between;
    justify-self: center;
    align-items: center;
    border-top: 1px var(--color__grey-theme_accent) solid;
}

.form_group {
    display: flex;
}

.button {
    margin-left: auto;
}