.panel {
    display: grid;
    border: 1px var(--color__grey-theme_accent) solid;
    border-radius: var(--responsive-size);
    padding: var(--responsive-size);
    max-width: 65vw;
    width: 65vw;
    justify-self: center;
}