.link {
    display: flex;
    color: black;
    text-decoration: none;
    width: 100%;
}

.pair {
    display: flex;
    border-bottom: 1px var(--color__grey-theme_accent) solid;
    padding: calc(var(--responsive-size)*2.5) var(--responsive-size) calc(var(--responsive-size)*2.5) var(--responsive-size);
    width: 100%;
    justify-content: space-between;
    justify-self: center;
    align-items: center;
}

.service {
    display: flex;
    font-size: calc(var(--responsive-size)*2);
}

.arrow {
    display: flex;
    width: calc(var(--responsive-size)*2);
    height: calc(var(--responsive-size)*2);
    cursor: pointer;
}

.pair:hover {
    background-color: var(--color__grey-theme);
}

@media (prefers-color-scheme: dark) {
    .link {
        color: var(--color__dark-text_color);
    }

    .pair {
        border-bottom: 1px var(--color__dark-theme_accent) solid;
    }

    .arrow {
        fill: var(--color__dark-text_color);
    }

    .pair:hover {
        background-color: var(--color__dark-theme_accent);
    }
}