.pair {
    display: flex;
    border-bottom: 1px var(--color__grey-theme_accent) solid;
    padding: calc(var(--responsive-size)*2) var(--responsive-size) calc(var(--responsive-size)*2) var(--responsive-size);
    width: 95%;
    justify-content: space-between;
    justify-self: center;
    align-items: center;
}

.service {
    display: flex;
    font-size: calc(var(--responsive-size)*1.6);
}

.arrow {
    display: flex;
    width: calc(var(--responsive-size)*2);
    height: calc(var(--responsive-size)*2);
    cursor: pointer;
}

.pair:hover {
    background-color: var(--color__grey-theme);
}